.wrapper{
    height: 20vh;
    width: 50vw;
    background-color: burlywood;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    padding-top: 1rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // gap: 1rem;

    &--text{
        width: 400px;
        height: 28px;
        padding: 0;
        margin: 0;
    }
    &--button{
         padding: 0;
         margin: 0;
      width: 5rem;
    height: 2rem;
    }

}

